html,body{
    height: 100%;
    width: 100%;
}
/*background*/
/*index*/
.bg-index{
    background:linear-gradient(to bottom, black, #343a40, #666666);
    background-attachment: fixed;
}
/*login*/
.bg{
    background:linear-gradient(to top right, black, #343a40,gray);
    background-attachment: fixed;
}
.bg-navbar{
    background: gray;

}
/*text*/
.welcome{
    text-align: center;
}
h1.hello{
    position: relative;
    font-family: 'Bungee Shade',cursive;
    font-size: 300%;
    margin-top:25%;
}
h1.hello_sm{
    font-family: 'Bungee Shade',cursive;
    font-size: 300%;
}
h1.title-register{
    font-family: 'Bungee Shade',cursive;
    color: white;
}
p{
    display: inline;
    color: black;
    font-size: 150%;
    font-family: 'Bungee',cursive;
}
.comment{
    display: inline;
    font-size: 100%;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}
.number{
    padding-left:10px;
    text-align:left;
}
a{
    font-family: 'Ubuntu',
    sans-serif;
}
h5,h6{
    display: inline;
    font-family: 'Ubuntu', sans-serif !important; 
}
.time{
    display: inline-block;
    float: right;
}
.subtitle{
    font-size: 120%;
    color:rgba(245, 245, 245, 0.808);
}
#custom-alert{
    height: 10%;
    width: 100%;
    display: block;
}
#log,#sign{
    width: 190px
}
/*index*/


/*Logining*/
.loginweb{
    color:white;
    text-align: center; 
}
.login-box{
    
    height: 640px;
    background-color:white;
    border-radius: 10px;
    box-shadow: inset 0 0 7px 7px black;
}
.login-bar {
    position: relative;
    text-align: center;
    float: right;
    width: 70%;
}
.login-header{
    position: relative;
    display: inline-block;
    margin-top: 30%;
    margin-bottom: 15%;
}
.img-login{
    margin-top: 40%;
    margin-left: 40%;
    animation: img_animation 4s 1; 
    animation-timing-function:ease;
    -webkit-animation: img_animation 4s 1;
    -webkit-animation-timing-function: ease;

}
@keyframes img_animation{
    from{opacity: 0;}
    to{opacity: 1;}
}
@media screen and (max-width:995px){
    .img-login {
        display: none;
    }
    .login-bar {
        width: 125%;
    }
}
@media screen and (max-width: 995px){
    .btn-facebook{
        font-size: 20px !important;
        width: 15% !important;
    }
    .btn-google{
        font-size: 20px !important;
        width: 15% !important;
    }
}
/**input**/
.input-wrap{
    position: relative;
}
.input-login{
    font-family: 'Black Ops One',
    cursive;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: inline-block;
    width: 100%;
    background: #e6e6e6;
    height: 40px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
    
}
.input-label{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    color: white;
    border-radius: 25px 0 0 25px;
    padding: 0 20px;
    background: #333333;
}

input {
	outline: none;
}
textarea {
  outline: none;
}
textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }
/**button**/
button:focus{
    outline: none !important;
}
.button-login{
    position: relative;
    margin-top: 10%;
    border-radius: 25px;
    width: 60%;
    color: #666666;  
    display: inline-block;
}
.btn-google{
    color: black;
    background-color: #e6e6e6;
    display: inline-block;
    border-radius:25px;
    font-size: 30px;
    height: 50%;
    margin-left: 2%;
    margin-right: 2%;
    width:12%;
}
.btn-facebook{
    color: black;
    background-color: #e6e6e6;
    display: inline-block;
    border-radius:25px;
    font-size: 30px;

    height: 50%;
    width:12%;
}
.btn-post{
    font-family: 'Ubuntu', sans-serif;
    margin-top:0%;
    height: 50%;
    width:12%;
}
.btn-comment{
    background-color: white;
    color: palevioletred;
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    border:none;
    padding: 0 2px;
    position: relative;
    cursor: pointer;
    padding-right:10px;
}

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }